select, input {
    display: block;
}
.container{
    padding: 2rem;
}
.heading {
    display: grid;
    grid-template-columns: 1fr 40px;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 40px;
    grid-gap: 1rem;
}
.total-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.total {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}

.total, .subheading {
    font-weight: 600;
}
.name-input {
    width: 100%;
}
.column-heading {
    text-align: center;
}
.date-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & input {
        display: inline;
    }
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.error-message {
    color: red;
    font-size: small;
}