<div class="container">
    <div class="heading">
        <h3>Добавление смены</h3>
        <button type="button" class="icon-button" (click)="close()"><span class="material-icons">clear</span></button>
    </div>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
            Тип крана
            <select formControlName="craneType">
                <option value="" disabled selected hidden>Выберите тип крана...</option>
                <option value="{{craneTypes.Single}}">{{craneTypes.Single}}</option>
                <option value="{{craneTypes.Double}}">{{craneTypes.Double}}</option>
            </select>
        </label>
        <label>
            ФИО ответственного
            <input type="text" placeholder="Иванов И.И." formControlName="workerName">
        </label>
        <mat-form-field class="date-inputs">
            <label>
                Дата начала 
                <input matInput [matDatepicker]="dp" formControlName="dateOfStart">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </label>
            <label>
                Дата окончания
                <input type="date" formControlName="dateOfFinish">
            </label>
        </mat-form-field>
        <div formArrayName="cranes">
            <div formArrayName="0">
                <div *ngIf="form.value.craneType === craneTypes.Double" class="subheading">Первый кран</div>
                <div *ngIf="form.value.craneType !== craneTypes.Double" class="subheading">Кран</div>
                <div class="grid">
                    <div class="column-heading">Грузовик</div>
                    <div class="column-heading">Погружено, т</div>
                    <div class="column-heading">Выгружено, т</div>
                </div>
                <div *ngFor="let truck of getTrucksArray(1).controls; let idx = index">
                    <div formArrayName="{{idx}}" class="grid">
                        <select formControlName="truckName" (input)="onSelectTruck(1, idx, $event)">
                            <option value="" disabled selected hidden>Выберите машину...</option>
                            <option *ngFor="let tName of truckNames" value="{{tName}}">{{tName}}</option>
                        </select>
                        <input type="text" formControlName="loaded" (input)="disable(1, idx, true)">
                        <input type="text" formControlName="unloaded" (input)="disable(1, idx, false)">
                        <button type="button" *ngIf="this.getTrucksArray(1).controls[idx].touched && getTrucksArray(1).length > 1" (click)="removeTruck(1, idx)">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>
            <div formArrayName="1" *ngIf="form.value.craneType === craneTypes.Double">
                <div class="subheading">Второй кран</div>
                <div *ngFor="let truck of getTrucksArray(2).controls; let idx = index">
                    <div [formArrayName]="idx" class="grid">
                        <select formControlName="truckName" (change)="onSelectTruck(2, idx, $event)">
                            <option value="" disabled selected hidden>Выберите машину...</option>
                            <option *ngFor="let truck of truckNames" value="{{truck}}">{{truck}}</option>
                        </select>
                        <input type="text" formControlName="loaded" (input)="disable(2, idx, true)">
                        <input type="text" formControlName="unloaded" (input)="disable(2, idx, false)">
                        <button type="button" *ngIf="this.getTrucksArray(2).controls[idx].touched && getTrucksArray(2).length > 1" (click)="removeTruck(2, idx)">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="total-container">
            <div class="total">Всего погружено {{totalLoad}}т</div>
            <div class="total">Всего выгружено т</div>
        </div>
        <div class="button-container">
            <button type="button" class="primary-button" (click)="close()">Закрыть</button>
            <button type="submit" class="accent-button">Сохранить</button>
        </div>
    </form>
</div>

