<div class="container">
    <div class="heading">
        <h3>Добавление смены</h3>
        <button type="button" class="icon-button" (click)="close()"><span class="material-icons">clear</span></button>
    </div>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
            Тип крана
            <select formControlName="craneType">
                <option value="" disabled selected hidden>Выберите тип крана...</option>
                <option value="{{craneTypes.Single}}">{{craneTypes.Single}}</option>
                <option value="{{craneTypes.Double}}">{{craneTypes.Double}}</option>
            </select>
        </label>
        <label>
            ФИО ответственного
            <input type="text" placeholder="Иванов И.И." formControlName="workerName">
        </label>
        <div class="date-inputs">
            <label>
                Дата начала 
                <input type="date" formControlName="dateOfStart">
            </label>
            <label>
                Дата окончания
                <input type="date" formControlName="dateOfFinish">
            </label>
        </div>
        <div formArrayName="cranes">
            <div formArrayName="0">
                <div *ngIf="form.value.craneType === craneTypes.Double" class="subheading">Первый кран</div>
                <div *ngIf="form.value.craneType !== craneTypes.Double" class="subheading">Кран</div>
                <div class="grid">
                    <div>Грузовик</div>
                    <div>Погружено, т</div>
                    <div>Выгружено, т</div>
                </div>
                <div *ngFor="let truck of getTrucksArray(1).controls; let idx = index">
                    <div formArrayName="{{idx}}" class="grid" (change)="onChange(1, idx)">
                        <select formControlName="truckName">
                            <option *ngFor="let tName of truckNames" value="{{tName}}">{{tName}}</option>
                        </select>
                        <input type="text" formControlName="loaded" >
                        <input type="text" formControlName="unloaded">
                        <button type="button" *ngIf="this.getTrucksArray(1).controls[idx].touched && getTrucksArray(1).length > 1" (click)="removeTruck(1, idx)">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>
            <div formArrayName="1" *ngIf="form.value.craneType === craneTypes.Double">
                <div class="subheading">Второй кран</div>
                <div *ngFor="let truck of getTrucksArray(2).controls; let idx = index">
                    <div [formArrayName]="idx" class="grid" (change)="onChange(2, idx)">
                        <select formControlName="truckName">
                            <option *ngFor="let truck of truckNames" value="{{truck}}">{{truck}}</option>
                        </select>
                        <input type="number" formControlName="loaded">
                        <input type="number" formControlName="unloaded">
                        <button type="button" *ngIf="this.getTrucksArray(2).controls[idx].touched && getTrucksArray(2).length > 1" (click)="removeTruck(2, idx)">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="total">Всего погружено {{totalLoad}}т</div>
        <div class="total">Всего выгружено т</div>

        <button type="button" (click)="close()">Закрыть</button>
        <button type="submit" class="accent-button" (click)="calcTotalLoad()">Сохранить</button>
    </form>
</div>

