@import '~@angular/material/prebuilt-themes/indigo-pink'; 
:root {
    --accent-background-color: #b4da3b;
    --primary-background-color: #dfeeaf;
    --default-background-color: white;
   

    --default-text-color: black;
    --placeholdel-color: #bbbbbb;
    --table-heading-color: white;

    --accent-button-color: blue;
    --primary-button-color: gray;

    --cover-color: rgba(0, 0, 0, .6)
}

body {
    font-family: sans-serif;
    color: var(--default-text-color);
    background-color: var(--default-background-color);
}
button {
    border-radius: 4px;
    border: none;
}

.icon-button {
    background-color: transparent;

}
.accent-button {
    background-color: var(--accent-button-color);
    padding: .5em 1em;
    color: var(--default-background-color);
}
.primary-button {
    background-color: var(--primary-button-color);
    padding: .5em 1em;
    color: var(--default-background-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::placeholder {
    color: var(--placeholdel-color)
}

input, select {
    padding: .5rem 1rem;
    box-sizing: border-box;
    height: 2rem;
    border: 1px solid var(--primary-button-color);
    border-radius: 4px;

    &:enabled {
        background-color: var(--default-background-color);
    }
    &:disabled {
        background-color: var(--placeholdel-color);
    }
    &:focus {
        outline: none;
    }
}